:root {
  --shadow-colour: #522b47;
  --background-colour-light: white;
  --text-light: black;
  --links-column-background-light: #f9e784;
  --header-footer-background-light: #f9e784;

  /* Data row light background colours */
  --data-row-bg-light-1: #bdfffd;
  --data-row-bg-light-2: #e0f0ff;
  --data-row-bg-light-3: #e0c5ff;
  --data-row-bg-light-4: #d4abef;
  --data-row-bg-light-5: #dfd5ff;
  --data-row-bg-light-6: #d0e5ff;
}


html { font-size: 16px; }


* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    background-color: var(--background-colour-light);
}
.page-container {
    position:relative;
    min-height: 100;
}
header, footer {
    background: var(--header-footer-background-light);
    color: var(--text-light);
    padding: 1.25rem;
    text-align: center;
}

header {
    border-bottom: solid black;  /* */
    box-shadow: 0px 5px 5px var(--background-colour-light);
}

footer {
    position: absolute;
    left: 0;
    height: 5rem;
    bottom: 0;
    width: 100%;
    border-top: solid black;
}

.container {
    display: flex; /* Enable flexbox */
    padding: 0px 0px 5rem 0px;
    flex-wrap: wrap; /* might fix the issue of not going to column in mobile*/
}

.links-column {
    flex: 1; /* This column takes up one share of space */
    max-width: 250px;
    color: black;
    background-color: var(--links-column-background-light); /* Light background for visibility */
    padding: 0.75rem 0.75rem 0px 0.75rem; /* t r b l Space between rows */
    margin: 1.25rem 0.75rem 1.25rem 1.25rem;
    border-radius: 5px;
    border-style: solid;
    border-color:black;
    box-shadow: 5px 5px 5px #522b47;
    height: fit-content;
    /*border-right: 2px solid #ccc; /* Optional border between columns */
}

.links-column a {
    text-decoration: none; /* Remove underline from links */
    color: #007BFF; /* Link color */
; /* Link color */
}

#links-column-container {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

#links-column-container.loaded {
    opacity: 1;
}

.data-column {
    flex: 3; /* This column takes up three shares of space */
    margin: 0px 1.25rem 0px 0px;
}

.data-row {
    padding: 0.75rem 0.75rem 0.75rem 0.75rem; /* t r b l Space between rows */
    background-color: #bdfffd;
    /*border-bottom: 1px solid #ddd; /* Light border between rows */
    margin: 1.25rem 0px 1.25rem 0.75rem;
    border-radius: 5px;
    border-style: solid;
    border-color:black;
    box-shadow: 5px 5px 5px var(--shadow-colour);
}

.data-row:nth-child(6n+1) {
    background-color: var(--data-row-bg-light-1);
}

.data-row:nth-child(6n+2) {
    background-color: var(--data-row-bg-light-2);
}

.data-row:nth-child(6n+3) {
    background-color: var(--data-row-bg-light-3);
}

.data-row:nth-child(6n+4) {
    background-color: var(--data-row-bg-light-4);
}

.data-row:nth-child(6n+5) {
    background-color: var(--data-row-bg-light-5);
}

.data-row:nth-child(6n+6) {
    background-color: var(--data-row-bg-light-6);
}

button {
  border: 2px solid black;  
  border-radius: 5px;
  background-color: var(--data-row-bg-light-1);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  box-shadow: 5px 5px 5px var(--shadow-colour);
}

.links-column button {
  border: 2px solid black; 
  border-radius: 5px;
  background-color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  box-shadow: 3px 3px 3px var(--shadow-colour);
}



.button-container {
    display: flex;
    flex-direction: column;
    gap: 7px; /* space between buttons */
}

.no-bullets {
    list-style: none;
}


.pdf {
        width: 100%;
        aspect-ratio: 4 / 4;
    }

a {
    text-decoration: none; /* Remove underline from links */
    color: #007BFF; /* Link color */
}

.blog-link {
    display: block;
    text-decoration: none;
    color: inherit;
    margin: 1.25rem 0px 1.25rem 0.75rem;
}


a:hover {
    text-decoration: underline; /* Underline on hover */
}


@media only screen and (max-width: 600px) {
    .container {
    display: flex; /* Enable flexbox */
    flex-direction: column;
    padding: 0px 0.75rem 5rem 0.75rem;
    flex-wrap: wrap;
    }

    .links-column {
        flex: 0; /* This column takes up one share of space */
        padding: 0.75rem; /* t r b l Space between rows */
        margin: 0.75rem 0rem 0rem 0rem; /* only pad the top, because the bottom padding is handled by the padding on the bottom of the data rows*/
        border-radius: 5px;
        max-width: 100%;
        /*border-right: 2px solid #ccc; /* Optional border between columns */
    }
    .data-column {
        flex: 0; /* This column takes up three shares of space */
        margin: 0rem;
        padding: 0rem 0rem 0.75rem 0rem; /* pad only the bottom? */
        max-width: 100%;
        /*padding: 1.25rem; /* Add some padding */
    }

    .data-row {
        padding: 0.75rem; /* t r b l Space between rows */
        margin: 1.25rem 0px 0px 0px;
        
    }

}

@media (prefers-color-scheme: dark) {
  .data-row {
      padding: 0.75rem 0.75rem 0.75rem 0.75rem; /* t r b l Space between rows */
      background-color: darkgray;
      /*border-bottom: 1px solid #ddd; /* Light border between rows */
      margin: 1.25rem 0px 1.25rem 0.75rem;
      border-radius: 5px;
      border-style: solid;
      box-shadow: 5px 5px 5px var(--shadow-colour);
  }
  
  .data-row:nth-child(6n+1) {
      border-color: var(--data-row-bg-light-1);
      background-color: darkgray;
  }
  
  .data-row:nth-child(6n+2) {
      border-color: var(--data-row-bg-light-2);
      background-color: darkgray;
  }
  
  .data-row:nth-child(6n+3) {
      border-color: var(--data-row-bg-light-3);
      background-color: darkgray;
  }
  
  .data-row:nth-child(6n+4) {
      border-color: var(--data-row-bg-light-4);
      background-color: darkgray;
  }
  
  .data-row:nth-child(6n+5) {
      border-color: var(--data-row-bg-light-5);
      background-color: darkgray;
  }
  
  .data-row:nth-child(6n+6) {
      border-color: var(--data-row-bg-light-6);
      background-color: darkgray;
  }
}