body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8daa9d;
    display: flex; /* Use flex to align sections */
}

header, footer {
    background: #522b47;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%; /* Ensure header and footer span full width */
}

main {
    flex: 1; /* Allow main content to fill available space */
    display: flex; /* Enable layout for main sections */
    padding: 20px;
}

section, nav {
    margin-right: 20px; /* Space between sections */
}

nav {
    width: 200px; /* Fixed width for the navigation */
}

.blog-post {
    padding: 20px;
    max-width: 800px;
    margin-bottom: 20px; /* Add bottom margin for separation */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(46, 56, 46, 0.5);
}

h2 {
    color: #522b47;
}

ul {
    list-style-type: disc; /* Add bullet points to list */
    padding-left: 20px; /* Indent the list */
}
