* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8daa9d;
}
header, footer {
    background: #522b47;
    color: #f0f0f0;
    padding: 20px;
    text-align: center;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.container {
    display: flex; /* Enable flexbox */
    /*max-width: 1200px; /* Set a max width for the layout */
    margin: 0 auto; /* Center the container */
}

.links-column {
    flex: 1; /* This column takes up one share of space */
    max-width: 250px;
    background-color: #f0f0f0; /* Light background for visibility */
    padding: 10px 20px 10px 0px; /* t r b l Space between rows */
    margin: 20px 10px 0px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    /*border-right: 2px solid #ccc; /* Optional border between columns */
}

.data-column {
    flex: 3; /* This column takes up three shares of space */
    /*padding: 20px; /* Add some padding */
}

.data-row {
    padding: 10px 0px 10px 10px; /* t r b l Space between rows */
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd; /* Light border between rows */
    margin: 20px 20px 0px 10px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none; /* Remove underline from links */
    color: #007BFF; /* Link color */
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}
