body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8daa9d;
}

header, footer {
    background: #522b47;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.content-wrapper {
    display: flex; /* Enable Flexbox layout */
    align-items: flex-start; /* Align items to the top */
    padding: 20px;
}

.page-links {
    width: 200px; /* Width for the links */
    margin-right: 20px; /* Space between the links and other sections */
    margin-left: 20px;
}

.page-links ul {
    list-style-type: disc; /* Add bullet points to list */
    padding-left: 20px; /* Indent the list */
}

section {
    flex: 1; /* Allow section to fill the available space */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(46, 56, 46, 0.5);
    padding: 20px;
    margin-bottom: 20px; /* Space between sections */
}

h2 {
    color: #522b47;
}
