body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8daa9dff;
}
header {
    background: #522b47ff;
    color: #fff;
    padding: 20px;
    text-align: center;
}
section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 5px #2e382eff;
    margin-bottom: 20px;
}
h2 {
    color: #522b47ff;
}
footer {
    text-align: center;
    padding: 10px;
    background: #522b47ff;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* CSS HEX */ /*
--pink-orchid: #dbbaddff;
--muted-teal: #8daa9dff;
--blackberry-cream: #522b47ff;
--dark-teal: #114b5fff;
--charcoal-brown: #2e382eff;
*/