body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8daa9d;
}

header, footer {
    background: #522b47;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto; /* Center sections with auto margins */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(46, 56, 46, 0.5);
}

/* New styles for the page links section */
.page-links {
    float: left; /* Align to the left */
    width: 200px; /* Fixed width for links */
    margin-right: 20px; /* Space between the links and other sections */
}

.page-links ul {
    list-style-type: disc; /* Add bullet points to list */
    padding-left: 20px; /* Indent the list */
}

h2 {
    color: #522b47;
}

/* Clearfix for the floating */
body::after {
    content: "";
    display: table;
    clear: both; /* Clear the float */
}
