body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8daa9d;
    overflow-x: hidden; 
}

header, footer {
    background: #522b47;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.content-wrapper {
    display: flex; /* Use Flexbox to arrange sidebar and main content */
    padding: 20px;
    overflow: hidden; /* Prevent margin collapse from affecting layout */
}


aside.sidebar {
    width: 250px; /* Fixed width for the sidebar */
    /*background: #fff; /* Ensure background is solid */
    padding: 20px;
    border-radius: 5px;
    /*box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);*/
    margin-right: 20px; /* Space between sidebar and main content */
    min-height: 100%; /* Ensure sidebar height expands properly */
}


.page-links {
    margin-bottom: 20px; /* Spacing between sections in sidebar */
}

.page-links ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

.page-links ul li {
    margin: 10px 0; /* Space between links */
}

main {
    flex: 1; /* Take all available space */
    display: flex;
    flex-direction: column; /* Ensure sections align vertically */
}


section {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(46, 56, 46, 0.5);
    padding: 20px;
    margin-bottom: 20px; /* Space between sections */
}

h2 a {
    color: #522b47; /* Link color */
    text-decoration: none;
}

h2 a:hover {
    color: #522b47; /* Link color */
    text-decoration: underline; /* Underline on hover for links */
}


/* Media Queries for Mobile Devices */
@media only screen and (orientation: portrait) {
    .content-wrapper {
        overflow: hidden;
        flex-direction: column; /* Stack items vertically */
        padding: 0; /* Remove padding to avoid cutoff */
    }

    aside.sidebar {
        width: 100%; /* Full width for sidebar on mobile */
        margin: 0 0 20px 0; /* No right margin */
    }

    main {
        overflow: hidden;
        width: 100%; /* Full width for main content */
    }

    header, footer {
        padding: 15px; /* Adjust padding for header and footer */
    }

    section {
        overflow: hidden;
        padding: 15px; /* Adjust section padding */
    }
    
    h1 {
        font-size: 24px; /* Adjust font size for header */
    }

    h2 {
        font-size: 20px; /* Adjust font size for subheaders */
    }
}
