body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8daa9d;
}

header, footer {
    background: #522b47;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(46, 56, 46, 0.5);
}

h2 {
    color: #522b47;
}
